body, h1, h2, h3, h4, h5, h6 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #333;
    padding: 0;
}

header {
  text-align: center;
  padding: 25px;
}

#title {
  font-weight: bold;
  font-size: 30px;
}

#sub-title {
  font-size: 20px;
  padding-top: 5px;
}

#wheel-container {
  width: 400px;
  position: relative;
  margin: 0 auto 40px auto;
}

#wheel {
  width: 400px
}

#marker {
  position: absolute;
  width: 40px;
  left: 180px;
  top: 330px;
  z-index: 999;
}

#result {
  text-align: center;
  margin-top: 40px;
  font-size: 20px;
}

#button {
    text-align: center;
    background: #333;
    color: #fff;
    font-size: 24px;
    width: 170px;
    height: 84px;
    padding: 10px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    display: table;
}

#button:hover {
  background: #288BE4;
}

#button-text {
  display: table-cell;
  vertical-align: middle;
}

#tweet {
  display: none;
  text-align: center;
  background: #333;
  color: #fff;
  font-size: 24px;
  width: 170px;
  height: 84px;
  padding: 10px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

#tweet-text {
  display: table-cell;
  vertical-align: middle;
}

#tweet:hover {
  background: #288BE4;
}

#tweet a {
  color: #fff;
  text-decoration: none;
}
