body, html {
    height: 100%;
    width: 100%;
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #333;
    padding: 0;
}

header {
  text-align: center;
  padding: 25px;
}

#title {
  font-weight: bold;
  font-size: 30px;
}

#sub-title {
  font-size: 20px;
  padding-top: 5px;
}

#wheel-container {
  width: 400px;
  position: relative;
  margin: 0 auto 40px auto;
}

#wheel {
  max-width: 100%;
  height: auto;
}

#marker {
  position: absolute;
  width: 40px;
  left: 180px;
  top: 330px;
  z-index: 999;
}

#result {
  text-align: center;
  margin-top: 40px;
  font-size: 20px;
}

#button-container {
  margin-top: 20px;
}

#button {
    text-align: center;
    background: #333;
    color: #fff;
    font-size: 24px;
    width: 170px;
    height: 84px;
    padding: 10px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    display: table;
}

#try-again {
    text-align: center;
    background: #333;
    color: #fff;
    font-size: 24px;
    width: 170px;
    height: 84px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    display: none;
    float: left;
}

#button:hover, #button:active {
  background: #288BE4;
}

#try-again:hover, #try-again:active {
  background: #288BE4;
}

#button-text {
  display: table-cell;
  vertical-align: middle;
}

#try-again-text {
  display: table-cell;
  vertical-align: middle;
}

#tweet {
  display: none;
  text-align: center;
  background: #333;
  color: #fff;
  font-size: 24px;
  width: 170px;
  height: 84px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

#tweet-text {
  display: table-cell;
  vertical-align: middle;
}

#tweet:hover, #tweet:active {
  background: #288BE4;
}

#tweet a {
  color: #fff;
  text-decoration: none;
}

@media only screen and (min-width: 320px) and (max-width: 479px){ 
  #wheel-container {
    width: 300px;
  }

  #marker {
    width: 30px;
    left: 135px;
    top: 261px;
  }

  #tweet {
    margin-top: 20px;
  }

  #try-again {
    float: none;
  }
}